<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>myServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>myServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>myServlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUserServlet</display-name>
    <servlet-name>QueryUserServlet</servlet-name>
    <servlet-class>myServlet.QueryUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUserServlet</servlet-name>
    <url-pattern>/QueryUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>renewUserServlet</display-name>
    <servlet-name>renewUserServlet</servlet-name>
    <servlet-class>myServlet.renewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>renewUserServlet</servlet-name>
    <url-pattern>/renewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadPictureForRegisterServlet</display-name>
    <servlet-name>uploadPictureForRegisterServlet</servlet-name>
    <servlet-class>myServlet.uploadPictureForRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadPictureForRegisterServlet</servlet-name>
    <url-pattern>/uploadPictureForRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>renewUserPictureServlet</display-name>
    <servlet-name>renewUserPictureServlet</servlet-name>
    <servlet-class>myServlet.renewUserPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>renewUserPictureServlet</servlet-name>
    <url-pattern>/renewUserPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishInfoServlet</display-name>
    <servlet-name>PublishInfoServlet</servlet-name>
    <servlet-class>myServlet.PublishInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishInfoServlet</servlet-name>
    <url-pattern>/PublishInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPictureServlet</display-name>
    <servlet-name>UploadPictureServlet</servlet-name>
    <servlet-class>myServlet.UploadPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPictureServlet</servlet-name>
    <url-pattern>/UploadPictureServlet</url-pattern>
  </servlet-mapping>
</web-app>